{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, WebVR! A-Frame</title>
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
    <script src="/static/Scripts/CameraControl.js"></script>
    <script src="/static/Scripts/bundle.js"></script>
    <script src="/static/Scripts/Player.js"></script>
    <script src="/static/Scripts/EnemyGenerator.js"></script>
    <script src="/static/Scripts/Enemy.js"></script>
    <script src="/static/Scripts/Score.js"></script>
  </head>

  <body>
    <a-asset>
      <img id = "skyTexture" src = "/static/Resources/sky.jpg">
      <img id = "groundTexture" src = "/static/Resources/sky.jpg">
    </a-asset>

    <a-scene physics="debug: false; gravity: 0">

      <a-mixin id="enemy" enemy static-body shadow></a-mixin>
      <a-mixin id="player-body" dynamic-body="shape: sphere"></a-mixin>

      <a-sky id="bg" radius="30" rotation="0 180 0" src="#skyTexture" theta-length="90"></a-sky>
      <a-cylinder id="ground" src="#groundTexture" radius="32" height="0.1"></a-cylinder>

      <a-box position="-1 1 -3" rotation="0 45 0" color="#4CC3D9" shadow dynamic-body></a-box>

      <a-sphere id="player" collision-able player-body player position="0 3 3" radius="1.25" color="#EF2D5E" shadow>
        <a-camera automove universal-controls>
          <a-cursor intersection-spawn="event: click"></a-cursor>
          <a-text score value="Score : 0" position="1.1 0.7 -1" width="2"></a-text>
          <a-text id="hp" value="HP : 100" position="1.2 0.6 -1" width="2"></a-text>
        </a-camera>
      </a-sphere>

      <a-entity enemy-generator></a-entity>

    </a-scene>

  </body>
</html>
